<strong>New comment</strong>
<%= form_for [@ticket, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %>
        prohobited this comment from being saved:</h2>
        
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :text %><br/>
    <%= f.text_area :text %>
  </p>
  <% authorized?("change states", @project) do %>
  <p>
    <%= f.label :state_id %><br/>
    <%= f.select :state_id, @states.map { |s| [s.name, s.id] }, selected: @ticket.state_id %>
  </p>
  <%= render 'tags/form', f: f %>
  <% end %>
  <%= f.submit %>
<% end %>