Hello, <%= @user.name%>!

<%= @ticket.title %> for <%= @project.name %> has been updated.
<%= @comment.user.email %> wrote:
<%= @comment.text %>
You can view this ticket online by going to:
<%= project_ticket_url(@project, @ticket) %>