<%= form_for([@project, @ticket], html: { multipart: true }) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %>
        prohobited this ticket from being saved:</h2>
        
        <ul>
          <% @ticket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>
  <%= render 'tags/form', f: f %>
  
  <% number = 0 %>
    <div id='files'>
      <%= render partial: "files/form", locals: { number: number } %>
    </div>
  <%= link_to "Add another file", 'javascript:', id: "add_another_file" %>
  
  <%= f.submit %>
<% end %>