<div id='ticket'>
  <h2><%= @ticket.title %></h2>
  <small id='author'>Created by <%= @ticket.user.email %></small><br/>
  <%= render @ticket.state if @ticket.state %>
  <% authorized?("edit tickets", @project) do %>
    <%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
  <% end %>
  <% authorized?("delete tickets", @project) do %>
    <%= link_to "Delete Ticket", 
                [@project, @ticket],
                method: :delete,
                data: { confirm: "Are you sure you want to delete ##{@ticket.id}-#{@ticket.title}?" 
                      } %>
  <% end %>
  
  <%= simple_format(@ticket.description) %>
  
  <div id='tags'><%= render @ticket.tags %></div>
  
  <% if @ticket.assets.present? %>
    <h3>Attached Files</h3>
    <div class='assets'>
      <% @ticket.assets.each do |asset| %>
        <p>
          <%= link_to File.basename(asset.asset.path), file_path(asset) %>
        </p>
        <p>
          <small><%= number_to_human_size(asset.asset.size) %></small>
        </p>
      <% end %>
    </div>
  <% end %>
  
  <span id='watchers'>
    <%= toggle_watching_button %>
    <strong>Watchers:</strong>
    <%= @ticket.watchers.map(&:email).to_sentence %>
    
  </span>
</div>

<h3>Comments</h3>
<div id='comments'>
  <% if @ticket.comments.present? %>
    <%= render @ticket.comments.select(&:persisted?) %>
  <% else %>
    There are no comments for this ticket.
  <% end %>
</div>

<%= render "comments/form" %>