<% admins_only do %>
    <%= link_to "New Project", new_project_path %>
<% end %>

<h2>Projects</h2>
<ul>
    <% @projects.each do |project| %>
        <li><%= link_to project.name, project %></li>
    <% end %>
</ul>
<%= paginate @projects %>