<% title(@project.name, "Projects") %>
<h2><%= @project.name %></h2>

<% admins_only do %>
  <%= link_to "Edit project", edit_project_path(@project) %>
  <%= link_to "Delete project", 
              @project,
              method: :delete,
              data: { confirm: "Are you sure you want to delete project #{@project.name}?" 
                    } %>
<% end %>
<h2>Tickets</h2>
<% authorized?("create tickets", @project) do %>
  <%= link_to "New Ticket", new_project_ticket_path(@project) %>
<% end %>
<ul id='tickets'>
  <% @tickets.each do |ticket| %>
    <li>
      <%= ticket.state if ticket.state %> #<%= ticket.id %> - <%=  link_to ticket.title, [@project, ticket] %>
    </li>
  <% end %>
</ul>

<%= paginate @tickets %>