<span class='tag'>
  <% if current_user.admin? || can?("tag".to_sym, @ticket.project) %>
    <%= link_to "x", remove_ticket_tag_path(@ticket, tag),
                     method: :delete,
                     remote: true,
                     id: "delete-#{tag.name.parameterize}" %>
  <% end %>
  <%= tag.name %>
</span>