/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	padding: 0;
	margin: 0;
}
body {
	background: white;
	color: #232323;
	font: 13pt "Helvetica Neue", Helvetica;
	margin: 5px 20% 0 20%;
	height: 100%;
	padding: 30px;
}
h1 {
	margin-bottom: 20px;
}
nav {
	margin: 10px 0 10px 0;
	a {
		text-decoration: none;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 25px;
		}

	}
	#signin_as {
		font-size: 65%;
		color: #b0b0b0;
	}

}
	.pagination  {
		font-size: 65%;
	}
a {
	color: #1B7EE0;
}
input[type=text], input[type=email], input[type=password], textarea {
	font-size: 125%;
	border: 0px;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 3px;
	margin: 5px 0px;
}
textarea {
	resize: none;
}
input[type=file] {
	margin-top: 10px;
	margin-bottom: 10px;
}
.flash {
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-weight: bold;
}
#notice {
	background: #CFFF9C;
	color: black;
}
#alert {
	background: #FFA3AA;
}
#error_explanation {
	font-size: 85%;
	color: #BF0000;
	margin-top: 1em;
	margin-bottom: 1em;
}
ul#projects {
	margin-top: 1em;
	list-style-type: none;
	border: 1px solid #D8E1EB;
	-border-radius: 3px;
	li {
		padding: 10px 5px;
		font-style: italic;
		color: #8a8a8a;
		&.odd {
			background: #EDF6FF;
		}
		h3 {
		font-style: normal;
		}
	}
}
.project {
	em {
		color: #8a8a8a;
	}
}
ul#tickets {
	padding: 15px;
	list-style-type: none;
}
ul#tickets li {
	margin-bottom: 10px;
}
#permissions {
	border: 1px solid #D8E1EB;
}
#permissions td, #permissions th {
	padding: 10px;
	margin: 0;
	text-align: center;
}
#permissions thead th {
	border-bottom: 1px solid #2F759B;
	padding: 10px;
}
#permissions tr.odd {
	background: #EDF6FF;
}
#permissions tr.even {
}
ul#tickets .state {
	padding-right: 5px;
}
ul#tickets .state {
	float: left;
}
#ticket, .comment {
	margin: 15px 0 15px 0;
	padding: 15px;
	border: 1px solid #e0e0e0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#ticket menu {
	float: right;
	font-size: 75%;
}
#ticket .state, .states {
	float: right;
}
#ticket section {
	clear: both;
}
.state {
	display: inline;
	width: 4em;
	text-align: center;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-right: 10px;
	font-size: 80%;
	padding: 5px;
}
#ticket #tags {
	margin-top: 20px;
	margin-bottom: 20px;
}
#ticket .tag {
	background: #1B7EE0;
	font-size: 75%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: white;
	padding: 8px;
}
#ticket .tag a {
	color: white;
}
#ticket .tag .delete {
	font-size: 125%;
	text-decoration: none;
}
.comment, .new_comment {
	width: 75%;
}
#ticket #watchers {
	font-size: 85%;
}