<h2>Users</h2>
<%= link_to 'New User', new_admin_user_path %>
<ul id="users">
  <% @users.each do |user| %>
    <li><%= user.name %> | <%= link_to user, [:admin, user] %></li>
  <% end %>
</ul>
<%= paginate @users %>
