<h2><%= @user %></h2>
<%= link_to "Edit User", edit_admin_user_path(@user) %>
<%= link_to "Delete User", 
            admin_user_path(@user), 
            method: :delete, 
            data: { confirm: "Are you sure you want to delete #{@user}?" } %>
<%= link_to "Permissions", admin_user_permissions_path(@user) %>