<%= link_to "New State", new_admin_state_path %>
<ul id='states'>
  <% @states.each do |state| %>
  <li id='state_<%=state.id %>'>
    <%= state.name %>
    <%= link_to "Make Default", make_default_admin_state_path(state) %>
  </li>
  <% end %>
</ul>