<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Ticketee
    <% end %>
  </title>
  <!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>-->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <style>
    <% @states.each do |state| %>
    .state_=<%= state.name.parameterize %> {
      background: <%= state.background %>;
      color: <%= state.color %>;
    }
    <% end %>
  </style>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% flash.each do |key,value| %>
  <div class='flash' id='<%= key %>'>
    <%= value %>
  </div>
<% end %>

<nav>
  <% if current_user %>
  <span id='signin_as'>Signed in as <strong><%= current_user.email %></strong></span>
    <ul>
      <li><%= link_to "Sign out", signout_path, method: :delete %></li>
      <li><%= link_to "Home", root_path %></li>
      <% admins_only do %>
        <li><%= link_to "Admin", admin_root_path %></li>
      <% end %>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to "Sign up", new_user_path %></li>
      <li><%= link_to "Sign in", signin_path %></li>
    </ul>
  <% end %>
</nav>

<%= yield %>

</body>
</html>
